<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="login.css" />
  </head>
  <body>
    <div class="card">
      <h1>Login</h1>
      <form method="post" action="/done">
        <input type="email" name="email" id="" placeholder="Enter your email" />
        <input
          type="password"
          name="password"
          id=""
          placeholder="Enter your password"
        />
        <button type="submit">Login</button>
      </form>
    </div>
    <script src="login.js"></script>
  </body>
</html>
